#scheduler_here {
	position: relative;
	z-index:1000;
}

.cal_navline {
	width:100%;
	position:fixed;
	top:0px;
	height:50px;
}

.cal_event {
	border: solid 1px red;
	position: absolute;
	background: green;
	z-index: 0;
}

.cal_header {
	display: inline-block;
	position: fixed;
	top:50px;
	z-index: -1;
}

.cal_header_col {
	float: left;
	text-align: center;
}

.cal_header_left_nav{
	width:20px;
	position: inherit;
}
.cal_header_right_nav {
	text-align:right;
	width:20px;
	position: inherit;
}

.cal_header_nav_disable {
	color:silver;
}

.cal_header_nav_enable {
}

.cal_data {
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: -2;
}

.cal_data_cell {
}

.cal_data_col {
	border: solid 1px yellow;
	position: relative;
	float: left;
}

.cal_time_line {
	position: absolute;
}